/*START TOPNAV*/

.topnav {
    height: 50vh;
    background-image: url("/image/bkg.png");
    background-position: bottom;
    background-size: cover;
}

.topnav ul {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.topnav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav-link a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.active {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
}

.patient {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

.bkg-left {
    display: none;
}

.bkg-right {
    display: none;
}

/* Animations */
.topnav-link a:hover {
    border-bottom: 1px solid #fff;
}

/*Mobile*/
@media screen and (max-width: 1125px) {

    .topnav {
        display: flex;
        position: relative;
        background-image: none;
    }

    .bkg-left {
        display: block;
        width: 50%;
        background-image: url(/image/bkg-left.png);
        background-size: cover;
        background-position: 0% 100%;
    }

    .bkg-right {
        display: block;
        width: 50%;
        background-image: url(/image/bkg-right.png);
        background-size: cover;
        background-position: 100% 100%;
    }
}

@media screen and (max-width: 768px) {

    .topnav {
        background-image: url("/image/bkg-mobile.png");
    }

    .bkg-left {
        display: none;
    }

    .bkg-right {
        display: none;
    }
}
/*END TOPNAV*/