

.pillBoxButton {
    background-color: gold;
    border-radius: 25px;
}

#button {
    font-size: 2rem;
}

main{
    margin-left: 2%;
}

a.waves-effect {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.sous-titre{
    text-align: left;
}

div.pillboxD{
    text-align: center;
    align-items: center;
}

nav{
    background-color: transparent;
    box-shadow: none;
}

#patient:hover, #active:hover{
    background-color: transparent;
}

nav ul a:hover {
    background-color: transparent;
}

@media screen and (max-width: 768px) {

    a.waves-effect{
        overflow-wrap: anywhere;
        height: auto;
        font-size: 1.5rem;
    }

}