* {
    margin: 0;
}

body {
    background-image: url("/image/fond_doctolib.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.mainIndexBlock {
    padding: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuBox {
    padding: 3rem;
    background-color: gold;
    border-radius: 25px;
    width: 180px;
}

.menuBox:hover {
    background-color: yellow;
}

.menuLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}