@import "header.css";
@import "index.css";
@import "pill-box-instructions.css";
@import "pill-box-instructions-finish.css";
@import "pill-box.css";
@import "pill-box-detail.css";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
}

