<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body th:fragment="header">
<nav class="topnav">
    <ul>
        <li class="topnav-link">
            <a class="active" href="/">Pilulib</a>
        </li>
        <li class="topnav-link li-patient">
            <a class="patient" href="#profil">Mr Durand</a>
        </li>
    </ul>
    <div class="bkg-left"></div>
    <div class="bkg-right"></div>
</nav>
</body>
</html>