<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <title>Instructions du pilulier</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<th:block th:include="fragments/header.html :: header"></th:block>
<main>
<h1 class="step-title">Etape pour remplir votre Pilulier</h1>
    <div class="container-step">
        <div class="step">
            <div class="grid-left">
                <h3 class="grid-left-top">La Pilule :</h3>
                <img class="grid-left-bottom" src="image/pilule.png" alt="image de pilule">
            </div>
            <div class="grid-middle">
                <h3 class="grid-middle-top">Le nombre :</h3>
                <p class="grid-middle-bottom">3</p>
            </div>
            <div class="grid-right">
                <h3 class="grid-right-top">La case :</h3>
                <div class="grid-right-bottom">
                    <p>Lundi</p>
                    <p>Matin</p>
                </div>
            </div>
        </div>
        <form action="/" method="get" class="form-addMedic">
            <input class="form-addMedic-button-back" type="button" name="back" value="Etape précédente">
            <input class="form-addMedic-button-next" type="button" name="next" value="Etape suivante">
        </form>
    </div>
</main>
<th:block th:include="fragments/footer.html :: footer"></th:block>
</body>
</html>