<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <title>Pilulier</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<th:block th:include="fragments/header.html :: header"></th:block>
<main>
    <h1>Mon Pilulier</h1>
        <div>
            <a href="/">Cliquez ici pour afficher le pilulier</a>
        </div>
        <div>
            <p>La composition de votre pilulier pour :</p>
            <p>Lundi, mardi</p>
        </div>
        <div>
            <p>Médicaments</p>
        </div>
    <div>
        <p>Posologie</p>
    </div>
</main>
<th:block th:include="fragments/footer.html :: footer"></th:block>
</body>
</html>