<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
        <title>Instructions du pilulier</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <th:block th:include="fragments/header.html :: header"></th:block>
        <main>
        <h1 class="step-title" th:text="|Étape n° ${count}|"></h1>
            <div class="container-step">
                <hr>
                <div class="step">
                    <div class="grid-left">
                        <h3 th:text="${composition.getDrug().getName()}" class="grid-left-top"></h3>
                        <img th:src="|image/drugs/${composition.getDrug().getImage()}|" class="grid-left-bottom" src="image/pilule.png" alt="image de pilule">
                    </div>
                    <div class="grid-middle">
                        <h3 class="grid-middle-top">Nombre :</h3>
                        <p th:text="${composition.getQuantity()}" class="grid-middle-bottom"></p>
                    </div>
                    <div class="grid-right">
                        <h3 class="grid-right-top">Case :</h3>
                        <div class="grid-right-bottom">
                            <p th:text="${composition.getDay()}"></p>
                            <p th:text="${composition.getTimeOfTheDay()}"></p>
                        </div>
                    </div>
                </div>
                <div class="form-addMedic">
                    <form action="/pill-box-instructions/decrement" method="post">
                        <input class="form-addMedic-button-back" type="submit" name="back" value="Étape précédente">
                        <input type="hidden" th:value="${count}" name="count">
                    </form>
                    <form action="/pill-box-instructions/increment" method="post">
                        <input class="form-addMedic-button-next" type="submit" name="next" value="Étape suivante">
                        <input type="hidden" th:value="${count}" name="count">
                    </form>
                </div>
            </div>
        </main>
        <th:block th:include="fragments/footer.html :: footer"></th:block>
    </body>
</html>